body {
    height: 100%;
    width: 100%;
    background-image:url("Images/photo-1514306191717-452ec28c7814.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

 
  }
  